.main-area {
    width: 100%;
    height: 100%;
}

.oneshot-folder-not-selected-modal {

}

.oneshot-folder-not-selected-warning {
    margin-bottom: 16px;
}

.oneshot-folder-path-confirm-button {
    margin-top: 16px;
    width: 64px;
    height: 32px;
}