.folder-selector {

}

.folder-selector-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.folder-selector-not-valid-warning {
    color: red;
    font-size: 12px;
    user-select: none;
}

.folder-selector-input {
    color: white;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 2px;
    margin-right: 8px;
    background-color: var(--item-color);
    border: 1px solid var(--border-color);
    height: 32px;
    width: 512px;
}


.folder-selector-input-not-valid-warning {
    border: 2px solid red;
}

.folder-selector-button {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 2px;
    background-color: var(--item-hover-color);
}