.mod-item {
    position: relative;
    width: 192px;
    height: 272px;
    background-color: var(--item-color);
    border-radius: 4px;
    border: 1px solid var(--border-color);
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    user-select: none;
}

.mod-item-invalid {
    padding-top: 0px;
    padding-bottom: 16px;
    border: 1px solid red;
}

.mod-item-invalid-text {
    color: red;
    font-size: 12px;
}

.mod-item-image {
    width: 192px;
    height: 192px;
    user-select: none;
}

.mod-disabled-style-image {
    filter: grayscale(1);
}

.mod-disabled-style-text {
    filter: brightness(50%);
}

.mod-item-name {
    font-family: "Roboto", "Arial", sans-serif;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 0px;
}

.mod-item-author {
    color: lightgray;
    overflow: hidden;
    margin-bottom: 0px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.mod-item-menu-button {
    position: absolute;
    right: 0px;
    bottom: 8px;
}

.PopoverContent {
	display: flex;
	flex-direction: column;
	background-color: var(--item-color);
	border-radius: 4px;
    border: 1px solid var(--border-color);
	padding: 8px;
    outline: none;
}

.mod-item-delete-warning {
    max-width: 540px;
    overflow-wrap: break-word;
}

.mod-item-delete-warning-text {
    display: flex;
    margin-bottom: 16px;
    user-select: none;
}

.mod-item-delete-confirm-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 16px;
}

.mod-item-delete-confirm-button {
    width: 64px;
    height: 32px;
}

.mod-item-menu-popup-items {

}