.text-button {
    border-radius: 2px;
    background-color: var(--item-hover-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.text-button:hover {
    cursor: pointer;
}

.text-button:active {
    transform: scale(0.95);
}